In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("dataset.csv")

In [2]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Unnamed: 11
0,FDW58,20.75,Low Fat,0.007564836,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,NaN
1,FDW14,8.3,reg,0.038427677,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN
2,NCN55,14.6,Low Fat,0.099574908,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store,NaN
3,FDQ58,7.315,Low Fat,0.015388393,Snack Foods,155.034,OUT017,2007,NaN,Tier 2,Supermarket Type1,NaN
4,FDY38,NaN,Regular,0.118599314,Dairy,234.23,OUT027,1985,Medium,Tier 3,Supermarket Type3,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14205 entries, 0 to 14204
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14205 non-null  object
 1   Item_Weight                11766 non-null  object
 2   Item_Fat_Content           14205 non-null  object
 3   Item_Visibility            14205 non-null  object
 4   Item_Type                  14205 non-null  object
 5   Item_MRP                   14205 non-null  object
 6   Outlet_Identifier          14205 non-null  object
 7   Outlet_Establishment_Year  14205 non-null  object
 8   Outlet_Size                10189 non-null  object
 9   Outlet_Location_Type       14205 non-null  object
 10  Outlet_Type                14205 non-null  object
 11  Unnamed: 11                8524 non-null   object
dtypes: object(12)
memory usage: 1.3+ MB

In [4]:
data['Item_Fat_Content'].value_counts()

Low Fat             8485
Regular             4824
LF                   522
reg                  195
low fat              178
Item_Fat_Content       1
Name: Item_Fat_Content, dtype: int64

In [5]:
data.apply(lambda x: sum(x.isnull()))

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Unnamed: 11                  5681
dtype: int64

In [6]:
data.describe()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Unnamed: 11
count,14205,11766,14205,14205,14205,14205,14205,14205,10189,14205,14205,8524
unique,1560,416,6,13007,17,8053,11,10,4,4,5,3494
top,NCX18,17.6,Low Fat,0,Fruits and Vegetables,172.0422,OUT027,1985,Medium,Tier 3,Supermarket Type1,958.752
freq,10,135,8485,879,2013,8,1559,2439,4655,5583,9294,17

In [7]:
from sklearn.model_selection import train_test_split
train_set, test_set=train_test_split(data, test_size=0.2,random_state=42)
print(f"rows in train set: {len(train_set)}\nrows in test set: {len(test_set)}\n")

rows in train set: 11364
rows in test set: 2841

In [8]:
train_set

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Unnamed: 11
11134,FDG50,7.405,Low Fat,0.015302764,Canned,89.9146,OUT045,2002,NaN,Tier 2,Supermarket Type1,2189.1504
3804,FDD11,NaN,Low Fat,0.053605948,Starchy Foods,252.404,OUT019,1985,Small,Tier 1,Grocery Store,NaN
12273,FDF46,NaN,Low Fat,0.164006137,Snack Foods,113.2834,OUT019,1985,Small,Tier 1,Grocery Store,575.917
318,FDP52,18.7,Regular,0,Frozen Foods,231.201,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN
3611,DRL01,19.5,Regular,0.077328827,Soft Drinks,233.5958,OUT045,2002,NaN,Tier 2,Supermarket Type1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5191,FDQ47,NaN,Regular,0.167371926,Breads,36.4874,OUT027,1985,Medium,Tier 3,Supermarket Type3,NaN
13418,FDW16,17.35,Regular,0.041474232,Frozen Foods,93.0804,OUT046,1997,Small,Tier 1,Supermarket Type1,826.9236
5390,FDB10,10,Low Fat,0.067152194,Snack Foods,237.259,OUT013,1987,High,Tier 3,Supermarket Type1,NaN
860,FDS07,12.35,LF,0.09991293,Fruits and Vegetables,113.4518,OUT049,1999,Medium,Tier 1,Supermarket Type1,NaN
7270,FDD16,NaN,Low Fat,0.063649582,Frozen Foods,74.7696,OUT019,1985,Small,Tier 1,Grocery Store,74.5696

In [9]:
train_set.corr()

Empty DataFrame
Columns: []
Index: []